<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Jídlo</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/static/stupidtable.js"></script>-->
</head>
<body onload="lol();">
    <div id="datum" class="jumbotron group" style="background-color: #131357; height: 210px; color:#fafafa;">
        <div class="container">
            <h1>{{dnesni_datum}}</h1>
        </div>
    </div>
    <div class="container" style="color:rgb(22,22,22);">

        {% for i in range(0, jidla|length) %}
            {%- if i%2 -%}<div class="row group"> {% endif %}
            <div class="col-lg-6 listek">
                <h2 id="{{nazvy[i]}}"><a href="{{urlka[i]}}">{{nazvy[i]}}</a></h2>
                <p>Datum: {%- if datumy[i]  is not none -%}{{ " " + datumy[i].upper() }}{% endif %}</p>
                <table class="table table-striped">
                  <thead>
                        <tr>
                        <th data-sort="str" style="font-weight:bold;" width="88%">Jídlo</th>
                        <th data-sort="int" style="font-weight:bold;" width="12%">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for y in jidla[i] %}
                         <tr>
                            <td>{{y.0}}</td>
                            <td>{{y.1}}</td>
                            <!--<td>{{i.2}}</td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>          
            </div>
            {%- if i%2 -%}</div> {% endif %}

        {% endfor %}
    </div>

</body>
</html>